$margin-basic: 0.5rem;
$margin-small: 0.3rem;
$padding-basic: 0.2rem;
$padding-commands: 0.3rem;
$border-radius-basic: 0.4rem;
$border-radius-inner: 0.15rem;
$box-shadow-basic: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.2);

$systemBackground: #e6e6e8;
$dialogBackground: $systemBackground;
$selectedBackground: #ddf;
$activeBackground: darken($selectedBackground, 3%);
$selectedActiveBackground: darken($selectedBackground, 3.2%);
$hoverBackground: #e8e8e8;
$commonBackdropFilter: blur(0.5rem);

$windowBackground: rgba(252, 252, 252, 0.9);
$windowBorderColor: #888;
$windowBorderWidth: 1px;
$windowBorder: solid $windowBorderWidth $windowBorderColor;
$windowBackgroundHalf: #f6f6f87e;
$windowLabelColor: #eee;
$windowLabelBackground: #888;

$uiControlSizeBasic: var(--ui-basic-control-size);
$controlTextColor: #000;
$controlTextColorDisabled: #888;
$controlTextColorPlaceholder: #999;
$controlBackground: #fff;
$controlBorderColor: #888;
$controlBorderWidth: 1px;
$controlBorderRadius: 0.3rem;
$controlBorder: solid $controlBorderWidth $controlBorderColor;
$controlBorderColorLight:  #ccc;
$controlBorderLight: solid $windowBorderWidth $controlBorderColorLight;
$controlBorderTransparent: solid $windowBorderWidth rgba(0, 0, 0, 0.0);
$controlBackgroundReadOnly: #e6e6e8;
$controlBackgroundDisabled: #ddd;

$propertyPopoverBorder: solid 1px rgba(120, 120, 120, 1.0);
$propertyPopoverBackground: rgba(255, 255, 255, 0.8);

$commandButtonIconSize: 1.7em;
$command-button-separator-width: calc(#{$margin-basic} * 2);

$listItemBackground: #fefefe;
$listItemBackgroundOdd: #f8f8f8;

$canvasBackground: #fff;

$buttonBackground: #fbfbfd;

$uiFontSizeSmall: var(--ui-small-text-size);
$uiFontSizeNormal: var(--ui-normal-text-size);
$uiFontSizeLarge: var(--ui-large-text-size);

$uiFontSizeSmallLineHeight: calc(#{$uiFontSizeSmall} * 2.2);
$uiFontSizeNormalLineHeight: calc(#{$uiFontSizeNormal} * 2.0);
$uiFontSizeLargeLineHeight: calc(#{$uiFontSizeLarge} * 2.0);

$uiFontSizeSmalllIconSize: calc(#{$uiFontSizeSmall} * 1.5);
$uiFontSizeNormalIconSize: calc(#{$uiFontSizeNormal} * 1.5);
$uiFontSizeLargeIconSize: calc(#{$uiFontSizeLarge} * 1.5);

$popover-shadow: 0 0.15rem 0.6rem rgba(0, 0, 0, 0.4);

$zindex-screen-sub: 1000;
$zindex-dialog-screen: 1001;
$zindex-modal-window: 1002;
$zindex-popover: 1003;
$zindex-center-panel: 1;
$zindex-side-panel: 2;
$zindex-footer-ui: 3;
$zindex-timeline-panel: 4;

// 非表示用クラス

.hidden {
  display: none !important;
}

// 選択可能項目

$selectable-item-padding: 0.3rem;

.selectable-item {

  &:hover {
    background-color: $hoverBackground !important;
  }

  &.selected {

    .selectable-item-inner {
      background-color: $selectedBackground !important;

      &:hover {
        background-color: $selectedActiveBackground !important;
      }
    }

    .selectable-item-inner-sq {
      background-color: $selectedBackground !important;
    }
  }

  .selectable-item-inner {
    border-radius: $border-radius-inner;
  }
}

// ボタン

.app-button {
  display: inline-flex;
  min-width: 8rem;
  padding: $padding-basic;
  font-size: $uiFontSizeNormal;
  border: $windowBorder;
  border-radius: $border-radius-basic;
  justify-content: center;
  align-items: center;

  &:focus {
    outline: none;
  }

  &:not(:first-child) {
    margin-left: $margin-basic;
  }

  i {
    font-size: $commandButtonIconSize;
  }

  &.disabled {
    color: $controlTextColorDisabled;
    background-color: $controlBackgroundDisabled;
  }
}

.app-button-primary {
  @extend .app-button;
  $backGround: #88f;

  background-color: $backGround;
  color: #fff;

  &:hover:not(.disabled) {
    background-color: lighten($backGround, 10%);
  }
}

.app-button-cancel {
  @extend .app-button;
  $backGround: #eee;

  background-color: $backGround;

  &:hover:not(.disabled) {
    background-color: lighten($backGround, 5%);
  }
}

.app-button-back {
  @extend .app-button;
  $backGround: #eee;
  border: none;
  padding-left: 0;
  justify-content: start;

  background-color: $backGround;

  &:hover:not(.disabled) {
    background-color: lighten($backGround, 5%);
  }
}

.OKCalcelButtons {
  text-align: center;
  margin-top: 20px;
  width: 100%;
}

// テキスト入力

input[type=number] {
  text-align: right;
}

input {
  border: $controlBorder;
  background-color: $controlBackground;
  border-radius: 0;

  &.readonly {
    background-color: $controlBackgroundReadOnly;
  }

  &.disabled {
    background-color: $controlBackgroundDisabled;
  }
}

// パレット半透明色

.alpha-checker-background {

  // background-image: linear-gradient(45deg, gray 25%, transparent 25%, transparent 75%, gray 75%, gray),
  //                   linear-gradient(45deg, gray 25%, transparent 25%, transparent 75%, gray 75%, gray);
  // background-size: 16px 16px;
  // background-position: 0 0, 8px 8px;
  background: url(../res/transparent_medium.png);
  background-size: 16px 16px;
}

.alpha-checker-background-pallete {

  background: url(../res/transparent_palette.png);
  background-size: 16px 16px;
}

// オーバーレイ

.overlay-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.dialog-screen-dock-container {
  z-index: $zindex-dialog-screen;
}

.modal-window-dock-container {
  z-index: $zindex-modal-window;
}

.popover-dock-container {
  z-index: $zindex-popover;
}

.popover-hidden-container {
  display: none;

  &.visible {
    display: unset;
  }
}

.popover-content-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  // background-color:rgba(0, 0, 0, 0.5);

  .popover-content-container {
    position: fixed;
    display: flex;
    pointer-events: none;

    &:focus {
      outline: none;
    }

    &.align-left {
      justify-content: start;
    }

    &.align-right {
      justify-content: end;
    }
  }
}
