$systemBackground: #e6e6e8;

$windowBackground: #f6f6f8;
$windowBorderColor: #888;
$windowBorderWidth: 1px;
$windowBorder: solid $windowBorderWidth $windowBorderColor;
$windowBackgroundHalf: #f6f6f87e;
$windowLabelColor: #eee;
$windowLabelBackground: #888;

$listItemBackground: #fefefe;
$listItemBackgroundOdd: #f8f8f8;

$canvasBackground: #fff;
$activeBackground: #ddf;
$selectedBackground: #ddf;
$hoverBackground: #e0e0ff;
$buttonBackground: #f0f0f0;
$buttonCornerRadius: 3px;

$fontSizeSmall: 12px;
$fontSizeSmallLineHeight: 15px;
$fontSizeNormal: 14px;
$fontSizeNormalLineHeight: 24px;
$fontSizeNormalIconSize: 22px;

$zindex-screen-sub: 1000;
$zindex-center-panel: 100;
$zindex-side-panel: 200;

$margin-basic: 5px;
$padding-basic: 5px;
$border-radius-basic: 5px;
$border-radius-inner: 3px;

// 選択可能項目

.selectable-item {

  &:hover {
    background-color: $hoverBackground;
  }

  &.selected {

    .selectable-item-inner {
      background-color: darken($selectedBackground, 3%);
    }
  }

  .selectable-item-inner {
    border-radius: $border-radius-inner;
  }
}

// ボタン

.app-button {
  min-width: 120px;
  margin-left: $margin-basic;
  padding: 0;
  font-size: $fontSizeNormal;
  text-align: center;
  line-height: $fontSizeNormal * 2.0;
  border: $windowBorder;
  border-radius: 3px;
  user-select: none;

  &:focus {
    outline: none;
  }
}

.app-button-primary {
  @extend .app-button;
  $backGround: #88f;

  background-color: $backGround;
  color: #fff;

  &:hover {
    background-color: lighten($backGround, 10%);
  }
}

.app-button-cancel {
  @extend .app-button;
  $backGround: #eee;

  background-color: $backGround;

  &:hover {
    background-color: lighten($backGround, 5%);
  }
}

.OKCalcelButtons {
  text-align: center;
  margin-top: 20px;
  width: 100%;
}

// テキスト入力

input[type=number] {
  text-align: right;
}
