$systemBackground: #e6e6e8;

$windowBackground: #f6f6f8;
$windowBorderColor: #888;
$windowBorderWidth: 1px;
$windowBorder: solid $windowBorderWidth $windowBorderColor;
$windowBackgroundHalf: #f6f6f87e;
$windowLabelColor: #eee;
$windowLabelBackground: #888;

$controlBackground: #fff;
$controlBorderColor: #888;
$controlBorderWidth: 1px;
$controlBorder: solid $windowBorderWidth $windowBorderColor;
$controlBackgroundDisabled: #888;

$listItemBackground: #fefefe;
$listItemBackgroundOdd: #f8f8f8;

$canvasBackground: #fff;
$selectedBackground: #ddf;
$activeBackground: darken($selectedBackground, 3%);
$hoverBackground: #e8e8e8;
$buttonBackground: #f0f0f0;
$buttonCornerRadius: 3px;

$fontSizeSmall: 12px;
$fontSizeSmallLineHeight: 15px;
$fontSizeNormal: 14px;
$fontSizeNormalLineHeight: 24px;
$fontSizeNormalIconSize: 22px;

$margin-basic: 5px;
$padding-basic: 5px;
$border-radius-basic: 5px;
$border-radius-inner: 3px;

$zindex-screen-sub: 1000;
$zindex-modal: 1000;
$zindex-center-panel: 100;
$zindex-side-panel: 200;
$zindex-footer-ui: 300;
$zindex-timeline-panel: 301;
$zindex-tool-ribbon: 302;

$dialog-padding: 10px;

// 選択可能項目

.selectable-item {

  &:hover {
    background-color: $hoverBackground !important;
  }

  &.selected {

    .selectable-item-inner {
      background-color: $selectedBackground !important;
    }

    .selectable-item-inner-sq {
      background-color: $selectedBackground !important;
    }
  }

  .selectable-item-inner {
    border-radius: $border-radius-inner;
  }
}

// ボタン

.app-button {
  min-width: 120px;
  margin-left: $margin-basic;
  padding: 0;
  font-size: $fontSizeNormal;
  text-align: center;
  line-height: $fontSizeNormal * 2.0;
  border: $windowBorder;
  border-radius: 3px;

  &:focus {
    outline: none;
  }
}

.app-button-primary {
  @extend .app-button;
  $backGround: #88f;

  background-color: $backGround;
  color: #fff;

  &:hover:not(.disabled) {
    background-color: lighten($backGround, 10%);
  }

  &.disabled {
    background-color: $controlBackgroundDisabled;
  }
}

.app-button-cancel {
  @extend .app-button;
  $backGround: #eee;

  background-color: $backGround;

  &:hover {
    background-color: lighten($backGround, 5%);
  }

  &.disabled {
    background-color: $controlBackgroundDisabled;
  }
}

.OKCalcelButtons {
  text-align: center;
  margin-top: 20px;
  width: 100%;
}

// テキスト入力

input[type=number] {
  text-align: right;
}

// 半透明表現
.alpha-checker-background {

  background-image: linear-gradient(45deg, gray 25%, transparent 25%, transparent 75%, gray 75%, gray),
                    linear-gradient(45deg, gray 25%, transparent 25%, transparent 75%, gray 75%, gray);
  background-size: 16px 16px;
  background-position: 0 0, 8px 8px;

}
