
// CSSスプライト
.image-splite-system {
  background-image: url(../res/system_image01.png);
}

.image-splite-layerbar {
  background-image: url(../res/layerbar_image01.png);
}

.image-splite-document {
  background-image: url(../res/toolbar_image01.png);
}

.image-splite-subtool {
  background-image: url(../res/toolbar_image02.png);
}

.image-splite-posing3d {
  background-image: url(../res/toolbar_image03.png);
}

// アイコンフォント
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('../res/google-icon-min.woff2') format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  user-select: none;
}
