:root {
  font-size: 15px;
  --ui-large-text-size: 1.25rem;
  --ui-normal-text-size: 1.0rem;
  --ui-small-text-size: 0.75rem;
  --ui-basic-control-size: 0.85rem;
}

html {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
  background-color: $systemBackground;
  overflow: hidden;

  font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
}

body {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
  overflow: hidden; // これを入れないとmainが何かはみでて横スクロールバーが出る
  user-select: none;

  canvas#debug {
    width: 500px;
    height: 500px;
  }
}

$side-panel-tab-width: 1.8rem;
$side-panel-width: $side-panel-tab-width + $padding-basic;

.screen-main {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 0 1fr $side-panel-width;
  grid-template-rows: min-content auto min-content;

  &.mobile-screen {
    grid-template-columns: 0px 1fr 0;
  }

  .screen-main-row1 {
    grid-column: 1/4;
  }

  .screen-main-row3 {
    grid-column: 1/4;
  }
}

header {
  box-sizing: border-box;
  width: 100%;
  overflow-x: hidden;
  z-index: 3;

  .header-row1 {
    width: 100%;
    // display: flex;
    display: none;
    padding: 0;
    border-bottom: $windowBorder;
    overflow-x: hidden;
  }

  .header-row2 {
    display: flex;
    border-bottom: $windowBorder;
  }

  .file-commands {
    padding: 0;
  }

  .file-name {
    flex: 1;
    border: none;
    padding-top: $padding-basic + 0.1rem;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;

    input {
      flex: 1;
      width: 100%;
      height: 18px;
      border: none;
      padding: 3px $padding-basic 0px $padding-basic;
      border-bottom: $windowBorder;
      background-color: $systemBackground;
    }
  }

  .view-commands {
    padding: 0;
  }
}

main {
  padding: 0;
  flex: 1;
  z-index: 2;
  position: relative;

  .center-panel {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    .main-canvas-container {
      position: relative;
      width: 100%;
      height: 100%;
      background-color: $canvasBackground;

      .main-canvas {
        position: absolute;
        left: 0;
        top: 0;
        border: none;
        z-index: 2;
        touch-action: none;
      }

      .editor-canvas {
        position: absolute;
        left: 0;
        top: 0;
        border: none;
        z-index: 3;
        cursor: crosshair;
        touch-action: none;
      }

      .webgl-canvas {
        position: absolute;
        left: 0;
        top: 0;
        border: none;
        z-index: 1;
        touch-action: none;
      }
    }
  }
}

.side-panel-dock {
  pointer-events: none;
}

.side-panel {
  display: flex;
  position: fixed;
  width: 0;
  z-index: 4;
  pointer-events: none;

  &.left-panel {
    left: 0;
  }

  &.right-panel {
    right: 0;
    flex-flow: row-reverse;
  }

  .side-panel-tabs {
    display: flex;
    flex-direction: column;
    padding-top: $padding-basic;
    padding-left: $padding-basic;
    background-color: $windowBackground;
    border-left: $windowBorder;
    pointer-events: auto;

    :not(:first-child) {
      margin-block-start: 0.2rem;
    }

    .side-panel-tab {
      width: $side-panel-tab-width;
      height: 3.0rem;
      background-color: $buttonBackground;
      text-align: center;
      padding-top: $padding-basic;
      box-shadow: $box-shadow-basic;

      i {
        font-size: 1.4rem;
        line-height: 1.4rem;
        vertical-align: middle;
      }

      &:hover {
        background-color: $hoverBackground;
      }

      &.left-panel {
        border-top: $controlBorderLight;
        border-left: $controlBorderLight;
        border-bottom: $controlBorderLight;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
      }

      &.right-panel {
        border-top: $controlBorderLight;
        border-left: $controlBorderLight;
        border-bottom: $controlBorderLight;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
      }
    }
  }

  .side-panel-contents {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-top: $padding-basic;
    width: 0;
    height: 100%;
    flex-wrap: nowrap;
    overflow-x: visible;
    overflow-y: visible;

    &.mobile-screen {
      justify-content: flex-end;

      .side-panel-content {
        margin-block-start: 0;
        margin-block-end: 0.2rem;
        width: 14rem;
      }
    }

    &.right-panel {
      align-items: flex-end;
    }

    .side-panel-content {
      display: flex;
      margin-block-start: 0.2rem;
      width: 18rem;

      &.closed {
        display: none;
      }

      .content-container {
        pointer-events: auto;
        width: 100%;

        &.left-panel {
          border-top: $controlBorder;
          border-right: $controlBorder;
          border-bottom: $controlBorder;
          border-width: $windowBorderWidth;
          border-color: $windowBorderColor;
        }

        &.right-panel {
          border-top: $controlBorder;
          border-left: $controlBorder;
          border-bottom: $controlBorder;
          border-width: $windowBorderWidth;
          border-color: $windowBorderColor;
        }

        .content-inner-container {

          &.closed {
            display: none;
          }
        }
      }
    }
  }
}

footer {
  display: flex;
  align-items: stretch;
  border-top: $windowBorder;
  background-color: $windowBackground;
  z-index: 2;

  .help-text {
    display: none;
    flex: 1;
    height: 100%;
    padding: 3px;
    font-size: $uiFontSizeSmall;
    overflow-y: hidden;
  }
}

input {
  user-select: unset;
}

button {
  color: $controlTextColor;
}
