html {
  margin: 0;
  padding: 0;
  left: 100%;
  height: 100%;
  background-color: $systemBackground;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; // これを入れないとmainが何かはみでて横スクロールバーが出る
  user-select: none;

  canvas#debug {
    width: 500px;
    height: 500px;
  }

  .screen-main {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .overlay-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: $zindex-screen-sub;

    &.hidden {
      display: none;
    }

    .dialog-screen-container {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      padding: 10px;

      &:focus {
        outline: none;
      }
    }

    .modal-window-overlay {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color:rgba(0,0,0,0.5);
      display: flex;
      align-items: center;
      justify-content: center;

      &:focus {
        outline: none;
      }
    }
  }
}

input {
  user-select: unset;
}

header {
  box-sizing: border-box;

  .header-row1 {
    display: flex;
    padding: 0 $padding-basic 0 $padding-basic;
    border-bottom: $windowBorder;
  }

  .header-row2 {
    display: flex;
    border-bottom: $windowBorder;
  }

  .file-commands {
    padding: 0;
  }

  .file-name {
    flex: 1;
    border: none;
    padding-top: $padding-basic + 1px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;

    input {
      flex: 1;
      height: 18px;
      border: none;
      padding: 3px $padding-basic 0px $padding-basic;
      border-bottom: $windowBorder;
      background-color: $systemBackground;
    }
  }

  .view-commands {
    padding: 0;
  }
}

main {
  padding: 0;
  flex: 1;

  .main-container {
    position: relative;
    width: 100%;
    height: 100%;

    .side-panel {
      position: absolute;
      top: 20px;
      display: flex;
      pointer-events: none;

      &.left-panel {
        left: 0;
        z-index: $zindex-side-panel;
      }

      &.right-panel {
        right: 0;
        z-index: $zindex-side-panel;
      }

      .side-panel-contents {
        flex: 1;
        display: flex;
        flex-direction: column;
        // background-color: $windowBackgroundHalf;
        > div:not(:first-child) {
          margin-top: 4px;
        }

        .side-panel-content {
          display: flex;


          &.right-panel {
            flex-flow: row-reverse;
          }

          .tab-locator {
            position: relative;

            .side-panel-tab {
              position: absolute;
              width: 25px;
              height: 54px;
              background-color: $windowBackground;
              text-align: center;
              pointer-events: auto;

              i {
                font-size: 22px;
                line-height: 34px;
                vertical-align: middle;
              }

              &:hover {
                background-color: $hoverBackground;
              }

              &.left-panel {
                left: 0;
                border-top: solid;
                border-right: solid;
                border-bottom: solid;
                border-width: $windowBorderWidth;
                border-color: $windowBorderColor;
                border-top-right-radius: 8px;
                border-bottom-right-radius: 8px;

                &.closed {
                  left: 0px;
                  position: unset;
                }
              }

              &.right-panel {
                right: 0;
                border-top: solid;
                border-left: solid;
                border-bottom: solid;
                border-width: $windowBorderWidth;
                border-color: $windowBorderColor;
                border-top-left-radius: 8px;
                border-bottom-left-radius: 8px;

                &.closed {
                  right: 0px;
                  position: unset;
                }
              }
            }
          }

          .content-container {
            pointer-events: auto;

            &.left-panel {
              width: 240px;
              border-top: solid;
              border-right: solid;
              border-bottom: solid;
              border-width: $windowBorderWidth;
              border-color: $windowBorderColor;
            }

            &.right-panel {
              width: 242px;
              border-top: solid;
              border-left: solid;
              border-bottom: solid;
              border-width: $windowBorderWidth;
              border-color: $windowBorderColor;
            }

            &.closed {
              display: none;
            }
          }
        }
      }
    }

    .center-panel {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      display: flex;
      flex-direction: column;
      padding: 0;
      z-index: $zindex-center-panel;

      .main-canvas-container {
        flex: 1;
        position: relative;
        background-color: $canvasBackground;

        .main-canvas {
          position: absolute;
          border: none;
          z-index: 2;
        }

        .editor-canvas {
          position: absolute;
          border: none;
          z-index: 3;
          cursor: crosshair;
        }

        .webgl-canvas {
          position: absolute;
          border: none;
          z-index: 1;
        }
      }
    }

    .footer-ui-container {
      position: absolute;
      left: 0;
      right: 10px;
      bottom: 0;
      height: 0;
      z-index: $zindex-footer-ui;
      overflow: visible;
    }
  }
}

footer {
  height: 40px;
  display: flex;
  z-index: $zindex-center-panel + 1;
  border-top: $windowBorder;
  background-color: $systemBackground;

  .help-text {
    width: 100%;
    padding: 3px;
    text-align: center;
    font-size: 12px;
  }
}
