// react modals

.modal-window-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color:rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;

  &:focus {
    outline: none;
  }

  .modal-window-container {
    background-color: $windowBackground;
    backdrop-filter: $commonBackdropFilter;
    box-shadow: $popover-shadow;
    border-radius: 10px;
    overflow: hidden;

    &:focus {
      outline: none;
    }

    .modal-window-header {
      padding: 10px;
      background-color: $systemBackground;
      font-size: $uiFontSizeNormal;
      line-height: $uiFontSizeNormalLineHeight;
      text-align: center;
    }

    .modal-window-content {
      padding: 20px;
    }

    .ok-cancel-buttons {
      text-align: center;
      margin-top: 20px;
      width: 100%;
    }
  }
}

.modal-radio-selection {

  .options {

    .option-item {
      display: flex;
      align-items: center;

      &:not(:first-child) {
        margin-block-start: $margin-basic;
      }

      .option-marker {
        font-size: $uiFontSizeNormal;
        margin-inline-end: $padding-basic;
      }

      .option-label {
        flex: 1;
        font-size: $uiFontSizeNormal;
      }
    }
  }
}

.modal-image-file-reference {

  input[type=file] {
    display: none;
  }

  .image {
    width: 300px;
    height: 300px;
    border: solid 1px $controlBorderColor;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    .text {
      font-size: $uiFontSizeNormal;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

// custombox modals

.modalDialogWindow {
  background-color: $windowBackground;
  backdrop-filter: $commonBackdropFilter;
  box-shadow: $popover-shadow;
  border-radius: 10px;
  display: none;
  padding: 20px;
}

.messageDialogModal {
  min-width: 400px;
  height: 100px;

  #messageDialogModal_message {
    text-align: center;
    width: 400px;
    padding: 15px;
  }
}

.openFileDialogModal {
  width: 400px;
  height: 100px;

  &.openFileDialogModal_file {
    background-color: #ddd;
    margin-left: 5px;
    margin-top: 5px;
    width: 100%;
  }
}

.operationOptionModal {
  width: 400px;
  height: 115px;

  input {
    margin-left: 15px;
    margin-top: 10px;
  }

  div {
    margin-bottom: 15px;
  }

  div label input.lineWidthMin {
    width: 50px;
    margin-left: 5px;
    margin-right: 8px;
  }

  div label input.lineWidthMax {
    width: 50px;
    margin-left: 5px;
  }
}

.modal-export-image {

  .section-item {

    &:not(:first-child) {
      margin-block-start: $margin-basic;
    }

    .label {
      font-size: $uiFontSizeNormal;
    }

    input.text-input {
      padding: $padding-basic;
      width: 100%;
      font-size: $uiFontSizeNormal;
    }

    input.number-input {
      width: 4.0em;
      font-size: $uiFontSizeNormal;
    }

    .radio-buttons {
      padding-left: 0.5rem;

      .radio-button {
        min-height: 1.6rem;
      }
    }

    &.auto-nmber-subsection {
      display: flex;
      justify-content: flex-end;

      >input {
        margin-inline-start: 1rem;
        font-size: $uiFontSizeNormal;
      }
    }

    .checkbox {
      display: flex;

      >div {

        &:not(:first-child) {
          margin-inline-start: $margin-basic;
        }
      }
    }
  }

  .section-spacer {
    height: $margin-basic;
  }
}

.newKeyframeModal {
  width: 400px;
  height: 230px;

  div label input {
    margin-left: 15px;
    margin-top: 15px;
  }
}

.deleteKeyframeModal {
  width: 400px;
  height: 140px;

  div label input {
    margin-left: 15px;
    margin-top: 15px;
  }
}
