$tool-button-width: 6.1em;
$tool-button-height: 5.3rem;
$tool-button-icon-size: 3.0em;
$operation-ui-border: solid 1px $windowBorderColor;

.tool-ribbon {
  width: 100%;
  box-sizing: border-box;
  padding: 0 0 0 0;
  background-color: $windowBackground;

  $row-padding: 0.1rem;
  $margin-group-item-column: $margin-basic * 2;

  .tool-ribbon-rows {
    box-sizing: border-box;
    padding: 0;

    .centering-spacer {
      flex-grow: 1;
      flex-shrink: 1;
    }

    .right-menu-button-spacer {
      flex-grow: 0;
      flex-shrink: 0;
      width: 2.5rem;
      height: 2.5rem;
    }

    .nonscroll-part {
      flex-shrink: 0;

      >div {
        margin-inline-end: $margin-basic;
        display: flex;
        align-items: stretch;
      }
    }

    .tabs-row {
      display: flex;

      .tabs {
        display: flex;
        justify-content: center;
        padding: $padding-basic $margin-basic $padding-basic $margin-basic;
        $borderRadius: $border-radius-basic;

        .tab {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          box-sizing: border-box;
          min-width: 6em;
          padding: 0.2rem 0.8rem 0.2rem 0.8rem;
          border: $controlBorder;
          color: #000;
          background-color: $windowBackground;
          border-radius: $borderRadius;
          white-space: nowrap;
          overflow: hidden;
          cursor: default;
          box-shadow: $box-shadow-basic;

          &:hover {
            background-color: $hoverBackground;
          }

          &:not(:first-child) {
            margin-inline-start: $margin-basic;
          }

          &:focus, &:focus-within {
            outline: none;
          }

          // &:first-child {
          //   border-top-left-radius: $borderRadius;
          // }

          // &:last-child {
          //   border-right: $windowBorder;
          //   border-top-right-radius: $borderRadius;
          // }

          &.selected {
            color: #fff;
            background: #000;
            border-color: #000;
            border-width: 1px;

            &:hover {
              color: $hoverBackground;
              border-color: #000;
              background: #555;
            }
          }

          &.disabled {
            color: #aaa;
          }

          .tab-label {
            font-size: $uiFontSizeSmall;
          }
        }
      }

      .headerCommandButton {
        margin-inline-start: 8px;

        img {
          width: 13px;
          height: 13px;
        }
      }
    }

    .ribbon-ui-row {
      display: flex;
      align-items: stretch;
      // border-left: $windowBorder;
      // border-right: $windowBorder;
      border-top: $windowBorder;
      padding: $padding-basic $margin-basic $padding-basic $margin-basic;
      overflow: hidden;
      height: $tool-button-height;
    }

    .ribbon-ui-home, .ribbon-ui-edit, .ribbon-ui-document, .ribbon-ui-layer, .ribbon-ui-view,
    .ribbon-ui-main-drawing, .ribbon-ui-auto-fill, .ribbon-ui-main-iamge-file-ref,
    .ribbon-ui-draw3d, .subtool-window {
      display: inline-flex;
      flex-wrap: nowrap;
      padding: 0;
    }

    .ribbon-ui-layer {
      flex-shrink: 0;
    }

    .separator {
      flex-shrink: 0;
      width: 1px;
      border-right: solid 1px #ccc;

      &:not(:first-child) {
        margin-inline-start: 0.4rem;
      }

      &:not(:last-child) {
        margin-inline-end: 0.4rem;
      }
    }

    .vertical-layout {
      flex-shrink: 0;
      vertical-align: top;

      &:not(:last-child) {
        margin-inline-end: 0.3rem;
      }
    }

    .group-container {
      flex-shrink: 0;

      &:not(:first-child) {
        margin-inline-start: $margin-basic;
      }

      >.label {
        font-size: $uiFontSizeSmall;
        padding-left: 2px;
        text-align: center;;
      }
    }

    .group-contents {
      display: flex;
      justify-content: center;

      &.grouped-params {

        .param-column {
          display: inline-block;

          &:not(:first-child) {
            margin-inline-start: $margin-group-item-column;
          }

          .param-column-inner {
            display: grid;
            grid-template-columns: max-content max-content;
            column-gap: $margin-basic;
            row-gap: $margin-small;

            .input-label {
              margin: 0;
            }

            .text-input {
              width: 130px;
            }

            .number-input {
              width: 55px;
            }
          }
        }
      }

      .group-item {
        display: flex;
        flex-direction: column;
        align-items: center;

        &:not(:first-child) {
          margin-inline-start: $margin-basic * 2;
        }

        .label {
          margin-top: $margin-basic;
          margin-bottom: 3px;
          font-size: $uiFontSizeSmall;
          padding-left: $margin-basic;
          padding-right: $margin-basic;
        }
      }

      .checkbox-item {
        @extend .group-item;
        display: flex;
        flex-direction: column;

        .checkbox {
          text-align: center;;
        }
      }

      .select-item {
        @extend .group-item;
        display: flex;
        flex-direction: column;

        &.eyes-symmetry {

          .select-box {
            width: 200px;
          }
        }
      }
    }

    .button {
      display: inline-block;
      vertical-align: top;
      flex-shrink: 0;
      box-sizing: border-box;
      min-width: $tool-button-width;
      padding: 6px;
      margin-inline-end: 3px;
      font-size: $uiFontSizeSmall;

      .button-inner {
        box-sizing: border-box;
        padding: 3px;
        border: solid 1px $controlBorderColor;
        border-radius: 6px;
        // box-shadow: $popover-shadow
        height: 100%;

        &:hover:not(.disabled) {
          background-color: $hoverBackground;
        }

        &:active {
          padding-left: 4px !important;
          padding-top: 4px !important;
          padding-right: 2px !important;
          padding-bottom: 2px !important;
        }

        .icon {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          img {
            width: $tool-button-icon-size;
            pointer-events: none;
          }
        }

        .label {
          text-align: center;
          flex: 1;
        }
      }
    }

    .tool-button {
      display: inline-block;
      box-sizing: border-box;
      min-width: $tool-button-width;
      padding: $selectable-item-padding;
      font-size: $uiFontSizeSmall;

      &:focus {
        outline: none;
      }

      &:not(:last-child) {
        margin-inline-end: 0.3rem;
      }

      &:hover {

        .tool-button-inner {
          background-color: $hoverBackground;
        }
      }

      .tool-button-inner {
        box-sizing: border-box;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: $margin-small;
        // border: $controlBorderLight;
        box-shadow: $box-shadow-basic;
        background-color: $buttonBackground;

        .icon {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          img {
            width: $tool-button-icon-size;
            pointer-events: none;
          }
        }

        .label {
          text-align: center;
          flex: 1;
        }
      }
    }

    .input-label {
      display: inline-block;
      flex-shrink: 0;
      font-size: $uiFontSizeSmall;
      line-height: $uiFontSizeSmallLineHeight;
      vertical-align: middle;

      &:not(:first-child) {
        margin-inline-start: $margin-basic;
      }
    }

    .number-input {
      height: 18px;
      font-size: 12px;

      &:not(:first-child) {
        margin-inline-start: $margin-basic;
      }
    }

    .text-input {
      height: 18px;
      font-size: 12px;

      &:not(:first-child) {
        margin-inline-start: $margin-basic;
      }
    }

    .labelled-number-input {

      &:not(:first-child) {
        margin-block-start: $margin-small;
      }

      .input-label {
        flex: 1;
      }

      .number-input {
        width: 45px;
      }
    }

    .rgba-color {
      box-sizing: border-box;
      display: inline-flex;
      width: 45px;
      height: 24px;
      border: solid 1px $controlBorderColor;
      border-radius: 4px;
      overflow: hidden;

      &:not(:first-child) {
        margin-inline-start: $margin-basic;
      }

      .rgb {
        width: 50%;
        height: 100%;
        // border-right: solid 1px $controlBorderColor;
      }

      .alpha {
        width: 50%;
        height: 100%;
        background-color: #eee;

        .alpha-color {
          width: 100%;
          height: 100%;
        }
      }
    }

    .layer-basic-params {

      .param-row {

        &:not(:first-child) {
          margin-block-start: $margin-small;
        }
      }

      .text-input {
        width: 130px;
        margin: 0;
      }

      .layer-colors {
        display: inline-block;
      }
    }

    .layer-additional-params {

      .param-column {
        display: inline-block;

        &:not(:first-child) {
          margin-inline-start: $margin-group-item-column;
        }

        .param-column-inner {
          display: flex;
          align-items: center;

          &:not(:first-child) {
            margin-block-start: $margin-small;
          }

          .input-label {
            margin-inline-start: $margin-basic;
          }

          .text-input {
            width: 130px;
          }

          .number-input {
            width: 55px;
          }
        }
      }
    }

    .document-size-params {

      .param-row {
        display: flex;

        &:not(:first-child) {
          margin-block-start: $margin-basic;
        }
      }

      .number-input {
        width: 55px;
      }
    }

    .view-params {

      &:not(:first-child) {
        margin-inline-start: $margin-basic;
      }

      .param-row {
        display: flex;

        &:not(:first-child) {
          margin-block-start: $margin-basic;
        }
      }

      .number-input {
        width: 55px;
      }
    }
  }
}

.toggle-button-group {
  display: flex;

  &.large {

    .toggle-button .toggle-button-inner {

      font-size: $uiFontSizeNormal;
    }
  }

  .toggle-button {
    border: solid 1px $controlBorderColor;
    display: flex;
    overflow: hidden;

    &:first-child {
      border-top-left-radius: $controlBorderRadius;
      border-bottom-left-radius: $controlBorderRadius;
    }

    &:not(:first-child) {
      border-left: none;
    }

    &:last-child {
      border-top-right-radius: $controlBorderRadius;
      border-bottom-right-radius: $controlBorderRadius;
    }

    .toggle-button-inner {
      padding : 3px 8px 3px 8px;
      font-size: $uiFontSizeSmall;
    }

    .selectable-item-inner-sq {
      background-color: $controlBackground;
    }
  }
}
