@import "base";
@import "ui";

.main-canvas-window {
  flex: 1;
  position: relative;
  // border: $windowBorder;
  // margin-bottom: $margin-basic;
  background-color: $canvasBackground;

  .main-canvas {
    position: absolute;
    border: none;
    z-index: 2;
  }

  .editor-canvas {
    position: absolute;
    border: none;
    z-index: 3;
    cursor: crosshair;
  }

  .webgl-canvas {
    position: absolute;
    border: none;
    z-index: 1;
  }
}

.test-window {
  margin-top: 4px;
  border: 1px solid #eee;
}

$main-tool-width: 150px;
$sub-tool-buttons-width: 180px;
$main-tool-height: 300px;
$ribbon-height: 125px;
$tool-button-width: 70px;
$operation-ui-border: solid 1px $windowBorderColor;

.tool-ribbon {
  z-index: 300;
  width: 100%;
  height: $ribbon-height;
  box-sizing: border-box;
  border-top: $operation-ui-border;
  border-bottom: $operation-ui-border;
  padding: $padding-basic $padding-basic 0 $padding-basic;
  display: flex;
  background-color: $windowBackground;

  $item-padding: 3px;

  .tool-ribbon-rows {
    flex: 1;
    display: flex;
    flex-direction: column;

    .menu-buttons-row {
      display: flex;

      .menu-buttons {
        display: flex;
        user-select: none;

        .button {
          box-sizing: border-box;
          min-width: 80px;
          height: 25px;
          border-left: $windowBorder;
          border-top: $windowBorder;
          text-align: center;
          font-size: 14px;
          line-height: 25px;
          vertical-align: middle;
          cursor: default;
          color: #000;
          background-color: $windowBackground;
          padding-inline-start: 10px;
          padding-inline-end: 10px;

          &:hover {
            background-color: $hoverBackground;
          }

          $borderRadius: $border-radius-basic;

          &:first-child {
            border-top-left-radius: $borderRadius;
          }

          &:last-child {
            border-right: $windowBorder;
            border-top-right-radius: $borderRadius;
          }

          &.selected {
            color: #fff;
            background: #000;
            border-color: #000;
            border-width: 1px;

            &:hover {
              color: $hoverBackground;
              border-color: #000;
              background: #555;
            }
          }
        }
      }

      .headerCommandButton {
        margin-inline-start: 8px;

        img {
          width: 13px;
          height: 13px;
        }
      }
    }

    .ribbon-ui-row {
      display: flex;
      flex: 1;
      border-left: $windowBorder;
      border-right: $windowBorder;
      border-top: $windowBorder;
      padding: $item-padding;

      .ribbon-ui-home, .ribbon-ui-edit, .ribbon-ui-draw3d {
        display: flex;
      }

      .subtool-window {
        flex: 1;
        position: relative;

        .ui-scroll-view-container {
          position: absolute;
          box-sizing: border-box;
          left: 0;
          right: 0;
          top: 0px;
          bottom: 0;
          white-space:nowrap;
        }

        $item-scale: 0.9;

        .item {
          display: inline-block;
          box-sizing: border-box;
          height: 75px * $item-scale;
          vertical-align: middle;
          padding: 3px;

          &:not(:last-child) {
            border-right: solid 1px #ccc;
          }

          .item-inner {
            display: flex;
            background-size: 128px * $item-scale;
            background-repeat: no-repeat;
            height: 100%;

            .spacer {
              width: 80px * $item-scale;
              height: 100%;
            }

            .command-button {
              width: 64px * $item-scale;
              height: 100%;
              background-size: 256px * $item-scale;
            }
          }
        }
      }

      .separator {
        width: 1px;
        border-right: solid 1px #ccc;
        margin-inline-start: 3px;
        margin-inline-end: 3px;
      }

      .tool-button {
        box-sizing: border-box;
        min-width: $tool-button-width;
        height: 100%;
        display: flex;
        padding: 3px;
        user-select: none;
        // border: solid 1px #ccc;
        margin-inline-end: 3px;

        .tool-button-inner {
          padding: 3px;
          display: flex;
          flex-direction: column;
          flex: 1;

          .icon {
            height: 38px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            img {
              width: 38px;
              pointer-events: none;
            }
          }

          .label {
            text-align: center;
            font-size: 12px;
            flex: 1;
          }
        }
      }

      .number-input {
        display: flex;
        height: 24px;

        &:not(:first-child) {
          padding-block-start: $margin-basic;
        }

        .label {
          flex: 1;
          font-size: 12px;
          line-height: 24px;
          vertical-align: middle;
          user-select: none;
        }

        input {
          width: 45px;
          font-size: 12px;
        }
      }

      .draw-line-params {
        width: 100px;
        display: flex;
        flex-direction: column;
        padding: $margin-basic;
        user-select: none;
      }

      .group-container {
        display: flex;
        flex-direction: column;
        padding: 0 $margin-basic $margin-basic $margin-basic;

        >.label {
          font-size: $fontSizeSmall;
          padding-left: 2px;
          text-align: center;;
          // background-color: #ddd;
          // border-bottom: solid 1px #ddd;
          user-select: none;
        }

        .contents {
          display: flex;
          padding-left: $margin-basic;
          justify-content: center;

          .item {

            &:not(:first-child) {
              margin-inline-start: $margin-basic * 2;
            }

            .label {
              margin-top: $margin-basic;
              margin-bottom: 3px;
              font-size: $fontSizeSmall;
              padding-left: $margin-basic;
              padding-right: $margin-basic;
              user-select: none;
            }
          }

          .item .toggle {
            display: flex;
            justify-content: center;

            .button {
              border: solid 1px $controlBorderColor;
              user-select: none;
              display: flex;
              overflow: hidden;

              &:first-child {
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;
              }

              &:last-child {
                border-top-right-radius: 4px;
                border-bottom-right-radius: 4px;
                border-left: none;
              }

              > div {
                padding : 3px 8px 3px 8px;
                font-size: $fontSizeSmall;
              }

              .selectable-item-inner-sq {

                background-color: $controlackground;
              }
            }
          }

          .checkbox-item {
            @extend .item;
            display: flex;
            flex-direction: column;

            .checkbox {
              text-align: center;;
            }
          }

          .select-item {
            @extend .item;
            display: flex;
            flex-direction: column;

            &.eyes-symmetry {
              width: 200px;
            }
          }
        }
      }
    }
  }
}

.footer-ui {
  position: absolute;
  left: $main-tool-width + $margin-basic;
  right: 10px;
  bottom: 0;
  height: 0;
  z-index: 300;
  overflow: visible;

  .sub-command-buttons-container {
    position: absolute;
    left: 0;
    width: $sub-tool-buttons-width;
    bottom: 0;
    height: $ribbon-height;
    box-sizing: border-box;
    border-top: $operation-ui-border;
    border-left: $operation-ui-border;
    border-right: $operation-ui-border;
    border-top-left-radius: $border-radius-basic;
    border-top-right-radius: $border-radius-basic;
    padding: $padding-basic;
    display: flex;
    background-color: $windowBackground;

    .sub-command-buttons {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      align-items: center;
      justify-items: center;

      button {
        border: 1px solid #888;
        border-radius: $border-radius-basic;
        width: 1.5em;
        height: 1.5em;
        padding: 0.15em 0 0 0.12em;
        font-size: 32px;
        overflow: hidden;
        text-align: left;
        background-color: $buttonBackground;

        &:hover {
          background-color: $hoverBackground;
        }

        &:focus {
          outline: none;
        }

        i {
          font-size: 1.2em;
        }
      }
    }
  }
}

.layer-window {
  overflow: hidden;
  flex: 1;
  // border: $windowBorder;
  background-color: $windowBackground;
  display: flex;
  flex-direction: column;
  height: 300px;

  .ui-scroll-view-container {
    flex: 1;
    height: unset;
  }

  .layer-window-items {
    // margin-top: 4px;
    // border: 1px solid #000;

    .item {
      display: flex;
      // border: 1px solid #eee;
      cursor: default;
      user-select: none;
      height: 30px;

      &:hover {
        background-color: $hoverBackground;
      }

      &.current {
        background-color: $activeBackground;
      }

      &.selected {
        background-color: $selectedBackground;
      }

      .visibility-icon-container {
        padding-left: 3px;
        ;
        padding-top: 4px;
        width: 24px;

        .visibility-icon {
          $srcSize: 64px;
          $iconSize: 22px;
          $scale: $iconSize / $srcSize;
          background-size: 512px * $scale;
          background-position-y: -128px * $scale;
          width: $iconSize;
          height: $iconSize;
        }
      }

      .layer-name {
        flex: 1;
        font-size: 14.0px;
        line-height: 30px;
        vertical-align: middle;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }
}

.palette-selector-window {
  // border: $windowBorder;
  background-color: $windowBackground;

  .items-container {
    padding: 2px;

    .items {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      // column-gap: 1px;
      // row-gap: 1px;
      // background-color: #000;
      border-color: #000;
      border-left: solid 1px;
      border-top: solid 1px;

      .item-container {
        margin: 0px;

        &:hover {

          .item:not(.selected) {

            &::after {
              position: absolute;
              content: ' ';
              top: 0px;
              left: 0px;
              right: 0px;
              bottom: 0px;
              border: solid 3px $activeBackground;
              z-index: 5;
            }
          }
        }

        .item {
          box-sizing: border-box;
          height: 17px;
          position: relative;
          border-color: #000;
          border-right: solid 1px;
          border-bottom: solid 1px;

          &.selected {
            // box-shadow: 0 0 0 3px #99f;
            // border: solid 3px #99f;

            &::after {
              position: absolute;
              content: ' ';
              top: -2px;
              left: -2px;
              right: -2px;
              bottom: -2px;
              border: solid 3px #99f;
              z-index: 5;
            }
          }
        }
      }
    }
  }
}

.color-mixer-window {
  display: flex;
  flex-direction: column;
  // border: $windowBorder;
  padding: 0px 0 8px 0;
  background-color: $windowBackground;

  .colorCanvas {
    border: none;
    width: 100%;
    height: 100px;
    cursor: crosshair;
  }

  .colorMixerValueSlide {
    display: flex;
    height: 22px;
    padding: 2px 10px 0 4px;
    user-select: none;

    div.label {
      width: 20px;
      font-size: 14px;
      text-align: center;
    }

    input[type=number] {
      width: 50px;
      height: 14px;
      font-size: 12px;
      border: none;
      background-color: #f8f8f8;
      margin-top: 2px;
      margin-left: 2px;
    }

    div.range {
      flex: 1;
      padding-left: 4px;
    }
  }
}

.time-line-window {
  position: absolute;
  left: $main-tool-width  + $sub-tool-buttons-width + 10px;
  right: $padding-basic;
  bottom: 0;
  height: 46px;
  overflow: hidden;
  border-top: $operation-ui-border;
  border-left: $operation-ui-border;
  border-right: $operation-ui-border;
  background-color: $windowBackground;
  z-index: 301;

  canvas {
    border: none;
    width: 100%;
    height: 100%;
  }
}

.file-open-dialog-container {
  display: flex;
  background-color: $systemBackground;

  .input-file {
    display: none;
  }

  .sections-container {
    width: 230px;
    margin-right: 8px;

    .section-label {
      padding: 2px 0 2px $padding-basic;
      font-size: $fontSizeSmall;
      color: $windowLabelColor;
      background-color: $windowLabelBackground;
    }

    .section-list {
      border: $windowBorder;
      background-color: $windowBackground;
      user-select: none;

      .section-item {
        padding: 3px;

        &:hover {

          .section-item-inner .button {
            opacity: 100%;
          }
        }

        .section-item-inner {
          display: flex;
          padding: 2px $padding-basic 2px 8px;
          border-radius: 3px;

          $lineHeight: $fontSizeNormal * 2.0;

          .name {
            flex: 1;
            line-height: $lineHeight;

            i {
              margin-right: 4px;
              font-size: $fontSizeNormalIconSize;
              vertical-align: text-bottom;
            }

            span {
              font-size: $fontSizeNormal;
              vertical-align: middle;
            }
          }

          .button {
            margin-inline-start: 4px;
            font-size: $fontSizeNormalIconSize;
            opacity: 0;
            line-height: $lineHeight;
            vertical-align: text-bottom;
          }
        }
      }
    }
  }

  .files-container {
    display: flex;
    flex-direction: column;
    flex: 1;

    .section-info {
      padding: $padding-basic 2px $padding-basic 8px;

      i {
        margin-right: 4px;
        font-size: $fontSizeNormalIconSize;
        vertical-align: text-bottom;
      }

      span {
        font-size: $fontSizeNormal;
        vertical-align: text-bottom;
      }
    }

    .file-list {
      flex: 1;
      border: $windowBorder;
      background-color: $windowBackground;
      user-select: none;
      overflow-y: scroll;

      ul {
        height: 100%;
        margin: 0;
        padding: 0;

        li {
          @extend .selectable-item;
          list-style: none;
          background-color: $listItemBackground;
          padding: 3px;

          &:nth-child(odd) {
            background-color: $listItemBackgroundOdd;

            &:hover {
              background-color: $hoverBackground;
            }
          }

          .selectable-item-inner {
            padding: 8px $padding-basic 8px 12px;
            border-radius: $border-radius-inner;

            i {
              font-size: $fontSizeNormal * 1.5 * 1.5;
              vertical-align: middle;
              margin-right: 12px;
            }

            span.name {
              font-size: $fontSizeNormal * 1.5;
              min-width: 50%;
              vertical-align: middle;
            }

            span.path {
              margin-left: 10px;
              font-size: $fontSizeNormal;
              color: #555;
              vertical-align: middle;
            }
          }
        }
      }
    }

    .file-commands {
      display: flex;
      margin-top: $margin-basic;

      .file-info {
        flex: 1;
        padding: 0px 2px 0px 8px;
        background-color: $windowBackground;
        font-size: $fontSizeNormal;
        line-height: $fontSizeNormal * 2.0;
        border: $windowBorder;
      }

      button {
        margin-left: $margin-basic;
      }
    }
  }
}
