@import "base";
@import "ui";

.main-canvas-window {
  flex: 1;
  position: relative;
  // border: $windowBorder;
  // margin-bottom: $margin-basic;
  background-color: $canvasBackground;

  .main-canvas {
    position: absolute;
    border: none;
    z-index: 2;
  }

  .editor-canvas {
    position: absolute;
    border: none;
    z-index: 3;
    cursor: crosshair;
  }

  .webgl-canvas {
    position: absolute;
    border: none;
    z-index: 1;
  }
}

.test-window {
  margin-top: 4px;
  border: 1px solid #eee;
}

$main-tool-width: 150px;
$main-tool-height: 300px;
$ribbon-height: 105px;
$operation-ui-border: solid 1px $windowBorderColor;

.footer-operation-ui {
  position: absolute;
  left: 0;
  right: 10px;
  bottom: 0;
  height: 0;
  z-index: 300;
  overflow: visible;

  .main-operations {
    position: absolute;
    left: 0;
    bottom: 0;
    width: $main-tool-width;
    height: $main-tool-height;

    .inner-container {
      position: relative;
      width: 100%;
      height: 100%;

      .border-container {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        z-index: 1;

        .top-part {
          flex: 1;
          border-right: $operation-ui-border;
          border-top: $operation-ui-border;
          background-color: $windowBackground;
          border-top-right-radius: 30px;
        }

        .bottom-part {
          border-right: $operation-ui-border;
          background-color: $windowBackground;
          height: $ribbon-height;
        }
      }

      .controls {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 2;
        box-sizing: border-box;
        padding: 10px 10px 10px $padding-basic;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        row-gap: $margin-basic;
        column-gap: $margin-basic;

        button {
          border: 1px solid #888;
          border-radius: $border-radius-basic;
          width: 1.3em;
          height: 1.3em;
          padding: 0.15em 0 0 0.12em;
          font-size: 50px;
          overflow: hidden;
          text-align: left;
          background-color: $buttonBackground;

          &:hover {
            background-color: $hoverBackground;
          }

          &:focus {
            outline: none;
          }

          i {
            font-size: 1.0em;
          }
        }
      }
    }
  }

  .tool-ribbon {
    position: absolute;
    left: $main-tool-width + $margin-basic;
    right: 0;
    bottom: 0;
    height: $ribbon-height;
    box-sizing: border-box;
    border-top: $operation-ui-border;
    border-left: $operation-ui-border;
    border-right: $operation-ui-border;
    border-top-left-radius: $border-radius-basic;
    border-top-right-radius: $border-radius-basic;
    padding: $padding-basic $padding-basic 0 $padding-basic;
    display: flex;
    background-color: $windowBackground;

    .sub-command-buttons {
      width: 137px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;

      button {
        border: 1px solid #888;
        border-radius: $border-radius-basic;
        width: 1.3em;
        height: 1.3em;
        padding: 0.15em 0 0 0.12em;
        font-size: 32px;
        overflow: hidden;
        text-align: left;
        background-color: $buttonBackground;

        &:hover {
          background-color: $hoverBackground;
        }

        &:focus {
          outline: none;
        }

        i {
          font-size: 1.0em;
        }
      }
    }

    .tool-buttons {
      flex: 1;
      margin-inline-start: $margin-basic;;
      display: flex;
      flex-direction: column;

      .main-tool-buttons {
        display: flex;
      }
    }
  }

  .mainToolButtons {
    display: flex;
    user-select: none;

    .button {
      box-sizing: border-box;
      min-width: 80px;
      height: 35px;
      border-left: $windowBorder;
      border-top: $windowBorder;
      text-align: center;
      font-size: 14px;
      line-height: 34px;
      vertical-align: middle;
      cursor: default;
      color: #000;
      background-color: $windowBackground;

      &:hover {
        background-color: $hoverBackground;
      }

      $borderRadius: $border-radius-basic;

      &:first-child {
        border-top-left-radius: $borderRadius;
      }

      &:last-child {
        border-right: $windowBorder;
        border-top-right-radius: $borderRadius;
      }

      &.selected {
        color: #fff;
        background: #000;
        border-color: #000;
        border-width: 1px;

        &:hover {
          color: $hoverBackground;
          border-color: #000;
          background: #555;
        }
      }
    }
  }

  .headerCommandButton {
    margin-inline-start: 8px;
    padding-top: 2px;

    .mainMenuButtonImage {
      width: 24px;
      height: 24px;
    }
  }
}

.subtool-window {
  position: relative;
  flex: 1;

  .ui-scroll-view-container {
    position: absolute;
    box-sizing: border-box;
    left: 0;
    right: 0;
    top: 0px;
    bottom: 0;
    border-left: $windowBorder;
    border-right: $windowBorder;
    border-top: $windowBorder;
    padding: 3px;
    white-space:nowrap;
  }

  $item-scale: 0.9;

  .item {
    display: inline-block;
    box-sizing: border-box;
    height: 64px * $item-scale;
    line-height: 64px * $item-scale;
    vertical-align: middle;
    background-size: 128px * $item-scale;
    background-repeat: no-repeat;
    border-bottom: 1px solid darken($systemBackground, 1);

    /*&:nth-child(odd) {
      background-color: #eeeeee;
    }*/

    &:not(:first-child) {
      border-left: solid 1px #ccc;
    }

    &:hover {
      background-color: $hoverBackground;
    }

    &.active {
      background-color: $activeBackground;
    }

    .item-inner {
      display: flex;

      .spacer {
        width: 80px * $item-scale;
        height: 64px * $item-scale;
      }

      .command-button {
        width: 64px * $item-scale;
        height: 64px * $item-scale;
        background-size: 256px * $item-scale;
      }
    }
  }
}

.layer-window {
  overflow: hidden;
  flex: 1;
  // border: $windowBorder;
  background-color: $windowBackground;
  display: flex;
  flex-direction: column;
  height: 300px;

  .ui-scroll-view-container {
    flex: 1;
    height: unset;
  }

  .layer-window-items {
    // margin-top: 4px;
    // border: 1px solid #000;

    .item {
      display: flex;
      // border: 1px solid #eee;
      cursor: default;
      user-select: none;
      height: 30px;

      &:hover {
        background-color: $hoverBackground;
      }

      &.current {
        background-color: $activeBackground;
      }

      &.selected {
        background-color: $selectedBackground;
      }

      .visibility-icon-container {
        padding-left: 3px;
        ;
        padding-top: 4px;
        width: 24px;

        .visibility-icon {
          $srcSize: 64px;
          $iconSize: 22px;
          $scale: $iconSize / $srcSize;
          background-size: 512px * $scale;
          background-position-y: -128px * $scale;
          width: $iconSize;
          height: $iconSize;
        }
      }

      .layer-name {
        flex: 1;
        font-size: 14.0px;
        line-height: 30px;
        vertical-align: middle;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }
}

.palette-selector-window {
  // border: $windowBorder;
  background-color: $windowBackground;

  .items-container {
    padding: 2px;

    .items {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      // column-gap: 1px;
      // row-gap: 1px;
      // background-color: #000;
      border-color: #000;
      border-left: solid 1px;
      border-top: solid 1px;

      .item-container {
        margin: 0px;

        &:hover {

          .item:not(.selected) {

            &::after {
              position: absolute;
              content: ' ';
              top: 0px;
              left: 0px;
              right: 0px;
              bottom: 0px;
              border: solid 3px $activeBackground;
              z-index: 5;
            }
          }
        }

        .item {
          box-sizing: border-box;
          height: 17px;
          position: relative;
          border-color: #000;
          border-right: solid 1px;
          border-bottom: solid 1px;

          &.selected {
            // box-shadow: 0 0 0 3px #99f;
            // border: solid 3px #99f;

            &::after {
              position: absolute;
              content: ' ';
              top: -2px;
              left: -2px;
              right: -2px;
              bottom: -2px;
              border: solid 3px #99f;
              z-index: 5;
            }
          }
        }
      }
    }
  }
}

.color-mixer-window {
  display: flex;
  flex-direction: column;
  // border: $windowBorder;
  padding: 0px 0 8px 0;
  background-color: $windowBackground;

  .colorCanvas {
    border: none;
    width: 100%;
    height: 100px;
    cursor: crosshair;
  }

  .colorMixerValueSlide {
    display: flex;
    height: 22px;
    padding: 2px 10px 0 4px;
    user-select: none;

    div.label {
      width: 20px;
      font-size: 14px;
      text-align: center;
    }

    input[type=number] {
      width: 50px;
      height: 14px;
      font-size: 12px;
      border: none;
      background-color: #f8f8f8;
      margin-top: 2px;
      margin-left: 2px;
    }

    div.range {
      flex: 1;
      padding-left: 4px;
    }
  }
}

.time-line-window {
  position: absolute;
  left: $main-tool-width + 10px;
  right: 15px;
  bottom: $ribbon-height + 5;
  height: 46px;
  overflow: hidden;
  border: $windowBorder;
  background-color: $windowBackground;
  z-index: 301;

  canvas {
    border: none;
    width: 100%;
    height: 100%;
  }
}

.file-open-dialog-container {
  display: flex;
  background-color: $systemBackground;

  .input-file {
    display: none;
  }

  .sections-container {
    width: 230px;
    margin-right: 8px;

    .section-label {
      padding: 2px 0 2px $padding-basic;
      font-size: $fontSizeSmall;
      color: $windowLabelColor;
      background-color: $windowLabelBackground;
    }

    .section-list {
      border: $windowBorder;
      background-color: $windowBackground;
      user-select: none;

      .section-item {
        padding: 3px;

        &:hover {
          background-color: $hoverBackground;

          .section-item-inner .button {
            opacity: 100%;
          }
        }

        .section-item-inner {
          display: flex;
          padding: 2px $padding-basic 2px 8px;
          border-radius: 3px;

          &.selected {
            background-color: $selectedBackground;

            &:hover {
              background-color: darken($selectedBackground, 3%);
            }
          }

          $lineHeight: $fontSizeNormal * 2.0;

          .name {
            flex: 1;
            line-height: $lineHeight;

            i {
              margin-right: 4px;
              font-size: $fontSizeNormalIconSize;
              vertical-align: text-bottom;
            }

            span {
              font-size: $fontSizeNormal;
              vertical-align: middle;
            }
          }

          .button {
            margin-inline-start: 4px;
            font-size: $fontSizeNormalIconSize;
            opacity: 0;
            line-height: $lineHeight;
            vertical-align: text-bottom;
          }
        }
      }
    }
  }

  .files-container {
    display: flex;
    flex-direction: column;
    flex: 1;

    .section-info {
      padding: $padding-basic 2px $padding-basic 8px;

      i {
        margin-right: 4px;
        font-size: $fontSizeNormalIconSize;
        vertical-align: text-bottom;
      }

      span {
        font-size: $fontSizeNormal;
        vertical-align: text-bottom;
      }
    }

    .file-list {
      flex: 1;
      border: $windowBorder;
      background-color: $windowBackground;
      user-select: none;
      overflow-y: scroll;

      ul {
        height: 100%;
        margin: 0;
        padding: 0;

        li {
          list-style: none;
          background-color: $listItemBackground;
          padding: 3px;

          &:hover {
            background-color: $hoverBackground;
          }

          &:nth-child(odd) {
            background-color: $listItemBackgroundOdd;

            &:hover {
              background-color: $hoverBackground;
            }
          }

          .file-item-inner {
            padding: 8px $padding-basic 8px 12px;
            border-radius: 3px;

            &.selected {
              background-color: $selectedBackground;

              &:hover {
                background-color: darken($selectedBackground, 3%);
              }
            }

            i {
              font-size: $fontSizeNormal * 1.5 * 1.5;
              vertical-align: middle;
              margin-right: 12px;
            }

            span.name {
              font-size: $fontSizeNormal * 1.5;
              min-width: 50%;
              vertical-align: middle;
            }

            span.path {
              margin-left: 10px;
              font-size: $fontSizeNormal;
              color: #555;
              vertical-align: middle;
            }
          }
        }
      }
    }

    .file-commands {
      display: flex;
      margin-top: $margin-basic;

      .file-info {
        flex: 1;
        padding: 0px 2px 0px 8px;
        background-color: $windowBackground;
        font-size: $fontSizeNormal;
        line-height: $fontSizeNormal * 2.0;
        border: $windowBorder;
      }

      button {
        margin-left: $margin-basic;
      }
    }
  }
}
