
.test-window {
  margin-top: 4px;
  border: 1px solid #eee;
}

$main-tool-width: 150px;
$sub-tool-buttons-width: 180px;

.footer-operation-panel-container {
  position: absolute;
  left: $main-tool-width + $margin-basic;
  width: $sub-tool-buttons-width;
  bottom: 0;
  height: $ribbon-height;
  box-sizing: border-box;
  border-top: $operation-ui-border;
  border-left: $operation-ui-border;
  border-right: $operation-ui-border;
  border-top-left-radius: $border-radius-basic;
  border-top-right-radius: $border-radius-basic;
  padding: $padding-basic;
  display: flex;
  background-color: $windowBackground;

  .command-buttons {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-items: center;

    button {
      border: 1px solid #888;
      border-radius: $border-radius-basic;
      width: 1.5em;
      height: 1.5em;
      padding: 0.15em 0 0 0.12em;
      font-size: 32px;
      overflow: hidden;
      text-align: left;
      background-color: $buttonBackground;

      &:hover {
        background-color: $hoverBackground;
      }

      &:focus {
        outline: none;
      }

      i {
        font-size: 1.2em;
      }
    }
  }
}

.layer-window {
  overflow: hidden;
  flex: 1;
  background-color: $windowBackground;
  display: flex;
  flex-direction: column;
  height: 300px;

  .ui-scroll-view-container {
    flex: 1;
    height: unset;
  }

  .layer-window-items {

    .item {
      display: flex;
      cursor: default;
      height: 30px;

      &:hover {
        background-color: $hoverBackground;
      }

      &.current {
        background-color: $activeBackground;

        &:hover {
          background-color: darken($activeBackground, 3%);
        }
      }

      &.selected:not(.current) {
        background-color: $selectedBackground;

        &:hover {
          background-color: darken($selectedBackground, 3%);
        }
      }

      .visibility-icon-container {
        padding-left: 3px;
        padding-top: 4px;
        width: 24px;

        .visibility-icon {
          $srcSize: 64px;
          $iconSize: 22px;
          $scale: $iconSize / $srcSize;
          background-size: 512px * $scale;
          background-position-y: -128px * $scale;
          width: $iconSize;
          height: $iconSize;
        }
      }

      .layer-name {
        flex: 1;
        font-size: 14.0px;
        line-height: 30px;
        vertical-align: middle;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }
}

.palette-selector-window {
  // border: $windowBorder;
  background-color: $windowBackground;

  .items-container {
    padding: 2px;

    .items {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      // column-gap: 1px;
      // row-gap: 1px;
      // background-color: #000;
      border-color: #000;
      border-left: solid 1px;
      border-top: solid 1px;

      .item-container {
        margin: 0px;

        &:hover {

          .item:not(.selected) {

            &::after {
              position: absolute;
              content: ' ';
              top: 0px;
              left: 0px;
              right: 0px;
              bottom: 0px;
              border: solid 3px $activeBackground;
              z-index: 5;
            }
          }
        }

        .item {
          display: flex;
          box-sizing: border-box;
          height: 17px;
          position: relative;
          border-color: #000;
          border-right: solid 1px;
          border-bottom: solid 1px;

          &.selected {
            // box-shadow: 0 0 0 3px #99f;
            // border: solid 3px #99f;

            &::after {
              position: absolute;
              content: ' ';
              top: -2px;
              left: -2px;
              right: -2px;
              bottom: -2px;
              border: solid 3px #99f;
              z-index: 5;
            }
          }

          .rgb {
            width: 50%;
            height: 100%;
            // border-right: solid 1px $controlBorderColor;
          }

          .alpha {
            width: 50%;
            height: 100%;
            background-color: #eee;

            .alpha-color {
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }
  }
}

.color-mixer-window {
  display: flex;
  flex-direction: column;
  // border: $windowBorder;
  padding: 0px 0 8px 0;
  background-color: $windowBackground;

  .colorCanvas {
    border: none;
    width: 100%;
    height: 100px;
    cursor: crosshair;
  }

  .colorMixerValueSlide {
    display: flex;
    height: 22px;
    padding: 2px 10px 0 4px;

    div.label {
      width: 20px;
      font-size: 14px;
      text-align: center;
    }

    input[type=number] {
      width: 50px;
      height: 14px;
      font-size: 12px;
      border: none;
      background-color: #f8f8f8;
      margin-top: 2px;
      margin-left: 2px;
    }

    div.range {
      flex: 1;
      padding-left: 4px;
    }
  }
}

.time-line-window {
  position: absolute;
  left: $main-tool-width  + $sub-tool-buttons-width + 10px;
  right: $padding-basic;
  bottom: 0;
  height: 46px;
  overflow: hidden;
  border-top: $operation-ui-border;
  border-left: $operation-ui-border;
  border-right: $operation-ui-border;
  background-color: $windowBackground;
  z-index: $zindex-timeline-panel;

  &.hidden {
    display: none;
  }

  canvas {
    border: none;
    width: 100%;
    height: 100%;
  }
}

.dialog-document-filer-container {
  display: flex;
  background-color: $systemBackground;

  .input-file {
    display: none;
  }

  $sections-width: 230px;

  .sections-container {
    position: absolute;
    top: $dialog-padding;
    left: $dialog-padding;
    width: $sections-width;

    .section-label {
      padding: 2px 0 2px $padding-basic;
      font-size: $fontSizeSmall;
      color: $windowLabelColor;
      background-color: $windowLabelBackground;
    }

    .section-list {
      border: $windowBorder;
      background-color: $windowBackground;

      .section-item {
        padding: 3px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        &:hover {

          .section-item-inner .button {
            opacity: 100%;
          }
        }

        .section-item-inner {
          display: flex;
          padding: 2px $padding-basic 2px 8px;
          border-radius: 3px;

          $lineHeight: $fontSizeNormal * 2.0;

          .name {
            flex: 1;
            line-height: $lineHeight;

            i {
              margin-right: 4px;
              font-size: $fontSizeNormalIconSize;
              vertical-align: text-bottom;
            }

            span {
              font-size: $fontSizeNormal;
              vertical-align: middle;
            }
          }

          .button {
            margin-inline-start: 4px;
            font-size: $fontSizeNormalIconSize;
            opacity: 0;
            line-height: $lineHeight;
            vertical-align: text-bottom;
          }
        }
      }
    }
  }

  .files-container {
    position: absolute;
    top: $dialog-padding;
    left: $dialog-padding + $sections-width + 8px;
    right: $dialog-padding;
    bottom: $dialog-padding;
    display: flex;
    flex-direction: column;
    flex: 1;

    .section-info {
      padding: $padding-basic 2px $padding-basic 8px;

      i {
        margin-right: 4px;
        font-size: $fontSizeNormalIconSize;
        vertical-align: text-bottom;
      }

      span {
        font-size: $fontSizeNormal;
        vertical-align: text-bottom;
      }
    }

    .file-list {
      flex: 1;
      border: $windowBorder;
      background-color: $windowBackground;
      overflow-y: scroll;

      ul {
        margin: 0;
        padding: 0;

        li {
          @extend .selectable-item;
          list-style: none;
          background-color: $listItemBackground;
          padding: 3px;

          &:nth-child(odd) {
            background-color: $listItemBackgroundOdd;

            &:hover {
              background-color: $hoverBackground;
            }
          }

          .selectable-item-inner {
            padding: 8px $padding-basic 8px 12px;
            border-radius: $border-radius-inner;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;

            i {
              font-size: $fontSizeNormal * 1.5 * 1.5;
              vertical-align: middle;
              margin-right: 12px;
            }

            span.name {
              font-size: $fontSizeNormal * 1.5;
              min-width: 50%;
              vertical-align: middle;
            }

            span.path {
              margin-left: 10px;
              font-size: $fontSizeNormal;
              color: #555;
              vertical-align: middle;
            }
          }
        }
      }
    }

    .file-commands {
      display: flex;
      margin-top: $margin-basic;

      .file-info {
        flex: 1;
        padding: 0px 2px 0px 8px;
        background-color: $windowBackground;
        font-size: $fontSizeNormal;
        line-height: $fontSizeNormal * 2.0;
        border: $windowBorder;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      button {
        margin-left: $margin-basic;
      }
    }
  }
}
