$systemBackground: #f6f6f8;
$windowBackground: #fdfdfd;
$windowBorder: #888;
$canvasBackground: #fff;
$activeBackground: #ddf;
$selectedBackground: #eef;
$hoverBackground: #f0f0ff;
$buttonCornerRadius: 3px;

.image-splite-system {
  background-image: url(./res/system_image01.png);
}

.image-splite-layerbar {
  background-image: url(./res/layerbar_image01.png);
}

.image-splite-document {
  background-image: url(./res/toolbar_image01.png);
}

.image-splite-subtool {
  background-image: url(./res/toolbar_image02.png);
}

.image-splite-posing3d {
  background-image: url(./res/toolbar_image03.png);
}

.ui-scroll-view-container {
  overflow: hidden;
  height: 100%;
}

html {
  margin: 0;
  padding: 0;
  left: 100%;
  height: 100%;
  background-color: $systemBackground;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;

  canvas#debug {
    width: 500px;
    height: 500px;
  }
}

header {
  display: flex;
  height: 40px;
  padding: 5px 20px 0 20px;

  .fileCommandButton {
    width: 33px;
    height: 33px;
    border: none;
    margin-left: 5px;
    cursor: default;
    text-align: center;
    border-radius: $buttonCornerRadius;

    &:hover {
      background-color: $hoverBackground;
    }
  }

  .fileNameText {
    flex: 1;
    border: none;
    border-width: 1px;
    padding-top: 6px;
    padding-left: 5px;
    text-align: left;
    margin-left: 10px;
    margin-right: 10px;

    input {
      width: 100%;
      height: 18px;
      border: none;
      padding-left: 5px;
      border-bottom: solid 1px $windowBorder;
      background-color: $systemBackground;
    }
  }

  .mainToolButtons {
    display: flex;

    >div {
      width: 120px;
      height: 26px;
      border: solid;
      border-width: 1px;
      margin-left: 5px;
      text-align: center;
      padding-top: 5px;
      cursor: default;

      &.selectedMainButton {
        color: #fff;
        background: #333;

        &:hover {
          color: $hoverBackground;
        }
      }

      &.unselectedMainButton {
        color: #333;
        background-color: $windowBackground;

        &:hover {
          background-color: $hoverBackground;
        }
      }
    }
  }

  .mainMenuButton {
    width: 33px;
    height: 33px;
    border: none;
    margin-left: 5px;
    cursor: default;
    text-align: center;
    border-radius: $buttonCornerRadius;

    &:hover {
      background-color: $hoverBackground;
    }
  }

  img {
    margin-top: 4px;
    width: 27px;
    height: 27px;
  }
}

main {
  display: flex;
  flex: 1;
  padding: 0 20px 0 20px;

  .side-panel1 {
    display: flex;
    flex-direction: column;
    width: 200px;

    >div:not(:first-child) {
      margin-top: 4px;
    }
  }

  .center-panel {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0 5px 0 5px;
  }

  .side-panel2 {
    display: flex;
    flex-direction: column;
    width: 202px;

    >div:not(:first-child) {
      margin-top: 4px;
    }
  }
}

footer {
  width: 100%;
  height: 60px;
  text-align: center;
}

input[type=number] {
  text-align: right;
}

.OKCalcelButtons {
  text-align: center;
  margin-top: 20px;
  width: 100%;
}

.nameInputTextBox {
  width: 250px;
  padding-left: 5px;
}

#renderTargetCanvas {
  position: absolute;
  display: none;
}

.main-canvas-window {
  flex: 1;
  position: relative;
  border: solid 1px $windowBorder;
  margin-bottom: 5px;
  background-color: $canvasBackground;

  .main-canvas {
    position: absolute;
    border: none;
    z-index: 2;
  }

  .editor-canvas {
    position: absolute;
    border: none;
    z-index: 3;
  }

  .webgl-canvas {
    position: absolute;
    border: none;
    z-index: 1;
  }
}

.time-line-window {
  overflow: hidden;
  height: 46px;
  border: solid 1px $windowBorder;
  background-color: $windowBackground;

  canvas {
    border: none;
    width: 100%;
    height: 100%;
  }
}

.color-mixer-window {
  display: flex;
  flex-direction: column;
  height: 220px;
  border: solid 1px $windowBorder;
  padding: 0px 0 8px 0;
  background-color: $windowBackground;

  #colorMixer_colorCanvas {
    border: none;
    width: 100%;
    height: 50px;
  }

  .colorMixerValueSlide {
    display: flex;
    height: 22px;
    padding: 2px 10px 0 4px;

    div.label {
      width: 20px;
      font-size: 14px;
      text-align: center;
    }

    input[type=number] {
      width: 50px;
      height: 16px;
      font-size: 14px;
      border: none;
      background-color: #f8f8f8;
      margin-top: 2px;
      margin-left: 4px;
    }

    div.range {
      flex: 1;

      input[type=range] {
        width: 100%;
        height: 14px;
        margin-left: 4px;
      }
    }
  }
}

// Sub windows

.command-buttons-container {
  display: flex;
  width: 100%;
  // margin-top: 4px;
  // border: 1px solid #000;

  div {
    width: 32px;
    height: 32px;
    padding: 0;
    // padding: 3px 2px 3px 2px;

    &:hover {
      background-color: $hoverBackground;
    }

    button {
      width: 100%;
      height: 100%;
      // border: 1px solid #000;
      // border-radius: 3px;
      border: none;
      outline: none;

      line-height: 24px;

      background-size: 32px;
      background-color: transparent;

      &.selected {
        background-color: $activeBackground;
      }
    }
  }
}

.subtool-window {
  flex: 1;
  height: 1px;
  border: solid 1px $windowBorder;
  background-color: $windowBackground;

  .item {
    display: flex;
    box-sizing: border-box;
    height: 64px;
    padding-left: 6px;
    line-height: 64px;
    vertical-align: middle;
    background-size: 128px;
    background-repeat: no-repeat;
    border-bottom: 1px solid darken($systemBackground, 1);

    /*&:nth-child(odd) {
            background-color: #eeeeee;
        }*/
    &:hover {
      background-color: $hoverBackground;
    }

    &.active {
      background-color: $activeBackground;
    }

    .spacer {
      width: 120px;
    }

    .command-button {
      width: 64px;
      height: 64px;
      background-size: 256px;
    }
  }
}

.layer-window {
  overflow: hidden;
  flex: 1;
  border: solid 1px $windowBorder;
  background-color: $windowBackground;

  .layer-window-items {
    // margin-top: 4px;
    // border: 1px solid #000;

    .item {
      display: flex;
      // border: 1px solid #eee;
      cursor: default;
      user-select: none;
      height: 30px;

      &:hover {
        background-color: $hoverBackground;
      }

      &.current {
        background-color: $activeBackground;
      }

      &.selected {
        background-color: $selectedBackground;
      }

      .visibility-icon-container {
        padding-left: 3px;
        ;
        padding-top: 4px;
        width: 24px;

        .visibility-icon {
          $srcSize: 64px;
          $iconSize: 22px;
          $scale: $iconSize / $srcSize;
          background-size: 512px * $scale;
          background-position-y: -128px * $scale;
          width: $iconSize;
          height: $iconSize;
        }
      }

      .layer-name {
        flex: 1;
        font-size: 14.0px;
        line-height: 30px;
        vertical-align: middle;
      }
    }
  }
}

.palette-selector-window {
  padding: 2px;
  border: solid 1px $windowBorder;
  background-color: $windowBackground;

  .palette-selector-window-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    // column-gap: 1px;
    // row-gap: 1px;
    // background-color: #000;
    border-color: #000;
    border-left: solid 1px;
    border-top: solid 1px;

    .item-container {
      margin: 0px;

      &:hover {

        .item:not(.selected) {

          &::after {
            position: absolute;
            content: ' ';
            top: 0px;
            left: 0px;
            right: 0px;
            bottom: 0px;
            border: solid 3px $activeBackground;
            z-index: 5;
          }
        }
      }

      .item {
        box-sizing: border-box;
        height: 17px;
        position: relative;
        border-color: #000;
        border-right: solid 1px;
        border-bottom: solid 1px;

        &.selected {
          // box-shadow: 0 0 0 3px #99f;
          // border: solid 3px #99f;

          &::after {
            position: absolute;
            content: ' ';
            top: -2px;
            left: -2px;
            right: -2px;
            bottom: -2px;
            border: solid 3px #99f;
            z-index: 5;
          }
        }
      }
    }
  }
}

.test-window {
  margin-top: 4px;
  border: 1px solid #000;
}

// modal windows

.modalDialogWindow {
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  display: none;
  padding: 20px;
}

.layerPropertyModal {
  width: 400px;
  height: 380px;
  position: absolute;
  bottom: 100px;

  div {
    margin-top: 15px;
  }

  input {
    margin-left: 10px;
  }

  input[type=radio] {
    margin-left: 15px;
  }

  input[type=checkbox] {
    margin-left: 0px;
  }

  #layerPropertyModal_layerAlpha {
    width: 200px;
  }

  #layerPropertyModal_fillColorAlpha {
    width: 200px;
  }
}

.messageDialogModal {
  min-width: 400px;
  height: 100px;

  #messageDialogModal_message {
    text-align: center;
    width: 400px;
    padding: 15px;
  }
}

.openFileDialogModal {
  width: 400px;
  height: 100px;

  &.openFileDialogModal_file {
    background-color: #ddd;
    margin-left: 5px;
    margin-top: 5px;
    width: 100%;
  }
}

.paletteColorModal {
  width: 660px;
  height: 280px;
  position: absolute;
  bottom: 100px;

  input {
    margin-left: 15px;
    margin-top: 15px;
  }

  #paletteColorModal_colors {
    margin-top: 10px;
    width: 460px;
    float: left;

    div.colorItem {
      width: 80px;
      height: 30px;
      margin-left: 10px;
      margin-top: 10px;
      float: left;
      /*border-style: solid;*/
    }

    div.colorItem input[type="radio"] {
      margin-left: 0px;
      margin-top: 0px;
      width: 30px;
      height: 20px;
    }

    div.colorItem input[type="color"] {
      margin-left: 0px;
      margin-top: 0px;
      width: 30px;
      height: 30px;
    }
  }

  #paletteColorModal_colorMixer {
    margin-top: 10px;
    width: 200px;
    height: 200px;
    float: left;

    canvas {
      margin-top: 10px;
      width: 200px;
      height: 200px;
    }
  }
}

.operationOptionModal {
  width: 400px;
  height: 115px;

  input {
    margin-left: 15px;
    margin-top: 10px;
  }

  div {
    margin-bottom: 15px;
  }

  div label input.lineWidthMin {
    width: 50px;
    margin-left: 5px;
    margin-right: 8px;
  }

  div label input.lineWidthMax {
    width: 50px;
    margin-left: 5px;
  }
}

.newLayerCommandOptionModal {
  width: 400px;
  height: 200px;

  input {
    margin-left: 15px;
    margin-top: 10px;
  }

  div {
    margin-bottom: 15px;
  }
}

.documentSettingModal {
  width: 400px;
  height: 230px;

  div {
    margin-bottom: 10px;
  }

  div label {
    margin-left: 10px;
  }

  div label input.lineWidthMax {
    width: 50px;
    margin-left: 5px;
  }

  input {
    margin-left: 15px;
    margin-top: 10px;
  }

  div label input.location {
    width: 60px;
  }
}

.exportImageFileModal {
  width: 400px;
  height: 220px;

  div {
    margin-bottom: 15px;
  }

  div label input.scale {
    width: 50px;
  }
}

.newKeyframeModal {
  width: 400px;
  height: 230px;

  div label input {
    margin-left: 15px;
    margin-top: 15px;
  }
}

.deleteKeyframeModal {
  width: 400px;
  height: 140px;

  div label input {
    margin-left: 15px;
    margin-top: 15px;
  }
}
